_.log
.cache
.content-collections
.contentlayer
.DS_Store
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*.local
.eslintcache
.idea
.output
.pnp.js
.source
.vercel
.vinxi
*.lcov
*.pem
*.tgz
*.tsbuildinfo
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
coverage
dist
logs
next-env.d.ts
node_modules
npm-debug.log*
out
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
yarn-debug.log*
yarn-error.log*
